@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*,*::after,*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--font-main: 'Poppins', sans-serif;
	--font-text: 'Roboto Slab', serif;
	--gradient: linear-gradient(to bottom left, hsl(300deg,100%,70%,1), hsl(180deg,100%,70%,1));
}
section{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background-image:var(--gradient)
}
.container{
	width: 300px;
	min-height: 500px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow:0 0 5px #111;
	padding:20px 30px;
	display: flex;
	flex-direction: column;
}
.title,input{
	margin-bottom: 20px;
}
.title{
	font-family: var(--font-main);
	text-align: center;
}
input{
	width: 100%;
	height: 50px;
	border:none;
	border-bottom:1px solid;
	padding: 5px;
}
input:focus{
}
p{
	font-size: .7em
}
input,p{
	font-family: var(--font-main);
	color:#aaa;
}
input[name="services"]{
	color:#000;
}
.services{
	color:#000;
}
input[name="msg"]{
	height: 100px;

}
input[name="submit"]{
	background-image: linear-gradient(to left, hsl(180deg,100%,60%,1), hsl(300deg,100%,60%,1));;
	color:#fff;
	font-size: 1em;
	border-radius: 50px;
	cursor:pointer;
}
